h1 {
    font-size: 75px;
    color: goldenrod
}

h2 {
    font-size: 50px;
    color:rgb(233, 154, 19)
}

h3 {
    font-size: 25px;
    color:rgb(236, 138, 11)
}

h4 {
    font-size: 20px;
    color:rgb(240, 122, 5)
}

body {
    display: grid;
    background: linear-gradient(#d53369, #cbad6d);
}

.img-element {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img {
    width: 500px;
    border: solid 25px goldenrod;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

a {
    font-size: 1.4em;
}

h1, h2, h3, h4 {
    text-align: center; 
    font-family: sans-serif;
}

ol {
    color: darkolivegreen;
}

ul {
    color: darkslategray
}